$text-color: #333;
$primary-color: rgb(230, 230, 230);
$gray: gray;
$blue-color: #24fff4;
$background-icon: #2F2739;
$background-color1: #231B2E;
$background-color2: #170F23;
$linear-color: linear-gradient(135deg, #F900FE, #00D8DB);
